//! COLORS
$black: #212121;
$green: #00897b;
$lightgreen: #1ceabe;
$blue: #3949ab;
.white {
  background: #fff;
}
.gray {
  //background: #fff;
  // background: #e4fdf9;
  background: #f5f5f5;
}
.d-gray {
  //background: #f1f2f6;
  //background: #ecf0f1;
  background: #f7f7f7;
}
.blue {
  background: $blue;
}

//! RGB
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: $blue;
}

.text-shadow {
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

//! ========================================
//! ========================================
//! ========================================

/// Main Colors
// $color_main: #2e005a;
$color-first: #3d005b;
$color-second: #9c00ce;
$color-border: #303030;

//! ========================================
//! ========================================
//! ========================================

.text-main {
  color: #061e37;
}
.bg-main {
  background: #061e37;
}
.border-color-main {
  border-color: #061e37;
}
.border-main {
  border-radius: 25px;
}

section {
  padding-top: 80px;
  padding-bottom: 100px;
  min-height: 100vh;
}

#particles-js-header {
  background-image: linear-gradient(to bottom, #2e005a, #3d0e6b, #4d1c7d, #5d298f, #6d37a1);
  height: 100vh;
  padding: 0;
  nav {
    width: 100%;
    position: absolute;
    padding-top: 1vh;
  }
  header {
    margin-top: 12%;
    width: 100%;
    position: absolute;
    transition: 0.4s ease-in-out;
  }
}

.nav-clicked {
  padding-top: 25vh;
}

#border {
  background: $color-border;
  min-height: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#manual {
  #animation-move {
    position: relative;
    animation: move 5s ease-in-out infinite normal running 0s;
  }
  #animation-shoot {
    position: relative;
    animation: shoot 2s ease-in-out infinite normal running 0s;
  }
}

@keyframes move {
  0% {
    left: 0%;
  }
  25% {
    left: -20%;
  }
  75% {
    left: 20%;
  }
  100% {
    left: 0%;
  }
}

@keyframes shoot {
  0% {
    left: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 65%;
    opacity: 0;
  }
}