.white {
  background: #fff;
}

.gray {
  background: #f5f5f5;
}

.d-gray {
  background: #f7f7f7;
}

.blue {
  background: #3949ab;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: #3949ab;
}

.text-shadow {
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.text-main {
  color: #061e37;
}

.bg-main {
  background: #061e37;
}

.border-color-main {
  border-color: #061e37;
}

.border-main {
  border-radius: 25px;
}

section {
  padding-top: 80px;
  padding-bottom: 100px;
  min-height: 100vh;
}

#particles-js-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e005a), color-stop(#3d0e6b), color-stop(#4d1c7d), color-stop(#5d298f), to(#6d37a1));
  background-image: linear-gradient(to bottom, #2e005a, #3d0e6b, #4d1c7d, #5d298f, #6d37a1);
  height: 110vh;
  padding: 0;
}
#particles-js-header nav {
  width: 100%;
  position: absolute;
  padding-top: 1vh;
}
#particles-js-header header {
  margin-top: 12%;
  width: 100%;
  position: absolute;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav-clicked {
  padding-top: 25vh;
}

#border {
  background: #303030;
  min-height: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#manual #animation-move {
  position: relative;
  -webkit-animation: move 5s ease-in-out infinite normal running 0s;
          animation: move 5s ease-in-out infinite normal running 0s;
}
#manual #animation-shoot {
  position: relative;
  -webkit-animation: shoot 2s ease-in-out infinite normal running 0s;
          animation: shoot 2s ease-in-out infinite normal running 0s;
}

@-webkit-keyframes move {
  0% {
    left: 0%;
  }
  25% {
    left: -20%;
  }
  75% {
    left: 20%;
  }
  100% {
    left: 0%;
  }
}

@keyframes move {
  0% {
    left: 0%;
  }
  25% {
    left: -20%;
  }
  75% {
    left: 20%;
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes shoot {
  0% {
    left: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 65%;
    opacity: 0;
  }
}
@keyframes shoot {
  0% {
    left: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 65%;
    opacity: 0;
  }
}